In [ ]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
from sklearn.neighbors import NearestNeighbors
from sklearn.preprocessing import MinMaxScaler

In [ ]:
RATED_FOOD_PATH = '/content/drive/My Drive/capstone_rec_sys/Tensorflow Rec System/Food and Rating Data/Exported Rated Food 07-06-2021 16-35-04.csv'

**1. Load Healthy FnB Data**

In [ ]:
df = pd.read_csv(RATED_FOOD_PATH)
df.head()

   food_id  food_code  ... vitamin_d vitamin_e
0        8   11432000  ...       1.2      0.04
1       13   11435100  ...       0.7      0.24
2       15   11446000  ...       1.2      0.25
3       16   14710200  ...       0.3      0.45
4       23   26109133  ...       0.6      0.54

[5 rows x 17 columns]

In [ ]:
knn_df = df.copy()
knn_df.drop(['food_id','food_code','name','category','type'],axis =1 ,inplace = True)
knn_df.head()

   calories  protein  carbs  ...  vitamin_c  vitamin_d  vitamin_e
0      89.0     4.66  14.46  ...        1.8        1.2       0.04
1     160.0     8.90  22.38  ...        0.1        0.7       0.24
2      84.0     3.36  15.86  ...       14.3        1.2       0.25
3     192.0     6.19   6.52  ...        0.3        0.3       0.45
4     137.0    17.32  13.10  ...        0.0        0.6       0.54

[5 rows x 12 columns]

**2. Scale Dataframe using MinMaxScaller()**

In [ ]:
min_max_scaler = MinMaxScaler()
knn_df = min_max_scaler.fit_transform(knn_df)
knn_df

array([[0.39732143, 0.15164335, 0.60049834, ..., 0.036     , 0.08759124,
        0.00873362],
       [0.71428571, 0.28961926, 0.92940199, ..., 0.002     , 0.05109489,
        0.05240175],
       [0.375     , 0.10933941, 0.65863787, ..., 0.286     , 0.08759124,
        0.05458515],
       ...,
       [0.27232143, 0.21444842, 0.035299  , ..., 0.388     , 0.08029197,
        1.        ],
       [0.02232143, 0.        , 0.05730897, ..., 0.        , 0.        ,
        0.        ],
       [0.02232143, 0.        , 0.05730897, ..., 0.        , 0.        ,
        0.        ]])

**3. Build the Model**

In [ ]:
nbrs = NearestNeighbors(n_neighbors=10, algorithm='ball_tree').fit(knn_df)
distances, indices = nbrs.kneighbors(knn_df)


all_code = list(df['food_code'].values)

In [ ]:
df.head()

   food_id  food_code  ... vitamin_d vitamin_e
0        8   11432000  ...       1.2      0.04
1       13   11435100  ...       0.7      0.24
2       15   11446000  ...       1.2      0.25
3       16   14710200  ...       0.3      0.45
4       23   26109133  ...       0.6      0.54

[5 rows x 17 columns]

**4. Try to find 10 similar food to the target based on the nutrition**

In [ ]:
searched_food = 92510955
searched_food_name = df.loc[df['food_code']==searched_food].head(1).name.tolist()
searched_food_code = all_code.index(searched_food)

In [ ]:
print("FnB that related to : ",searched_food_name[0])
df.loc[indices[searched_food_code]]

FnB that related to :  Lemonade, fruit juice drink

     food_id  food_code  ... vitamin_d vitamin_e
126      416   92510955  ...       0.0      0.00
112      379   64101010  ...       0.0      0.01
106      358   11519205  ...       1.0      0.00
113      380   64104010  ...       0.0      0.01
103      333   11511400  ...       1.1      0.00
108      366   42404010  ...       0.0      0.00
102      332   11511300  ...       1.1      0.04
132      448   92611100  ...       0.5      0.03
0          8   11432000  ...       1.2      0.04
133      449   92613010  ...       0.5      0.03

[10 rows x 17 columns]

**5. Save the model to pickle**

In [ ]:
import pickle
 
pickle.dump(nbrs, open('content_based_knn_model.pkl', 'wb'))
 
model = pickle.load(open('content_based_knn_model.pkl', 'rb'))
distances, indices = model.kneighbors(knn_df)